  body {
    background-color: #FFF;
  }
  h1, h2, h3 {
    color: #00AFFF;
  }
  p, dl {
    color: #000;
  }
  dt {
    color: #008CCC; 
    font-style: italic;
    text-transform: uppercase;
    font-weight: bold;
  }
